# Python bytecode files
*.pyc
__pycache__/

# Virtual environment directories
venv/
env/

# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# PyCharm specific files
*.iml

